



.game-container{
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.game-row{
    display: flex;
    flex:1;
}

.game-square {
    border: 1px solid black;
    flex: 1;
}