html, body {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:#dbced3;

    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

button, input[type='color'] {
    transition: transform 0.1s ease-in-out;
}


header {
    text-align: center;
}

.settings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.option-button {
    display: flex;
    background-color: grey;
    border: 1px solid black;
    margin: 5px 0 5px 0;
    padding: 5px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: white;
}

.active-color {
    border-color: var(--active-color);
    color: var(--active-color);
}

.rainbow-pen p {
    margin: auto;
}

@media (max-width: 700px)
{
    .settings {
        flex-direction:row;
    }

    .settings .clear {
        margin: 25px 0 25px 0;
    }
}

.game-container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 60vh;
  width: 60vh;
  justify-content: center;
  margin: 20px 10px 20px 10px;

}

.game-row{
    display: flex;
    flex:1;
}

.game-square {
    flex: 1;
}

.game-square.grid{
    border: 1px solid gray;
}