html, body {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:#dbced3;
    margin:0;

    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
}

input[type='range'] {
   /* -webkit-appearance: none;*/
    background-color: var(--primary-light);
}

button:hover, input[type='color']:hover {
    transform: scale(1.05);
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

h3{
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

button, input[type='color'] {
    transition: transform 0.1s ease-in-out;
}

button, input {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

button {
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    
}



button.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}


.title {
    text-align: center;
    font-size: 80px;
}

.settings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.option-button {
    display: flex;
    background-color: grey;
    border: 1px solid black;
    margin: 5px 0 5px 0;
    padding: 5px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: white;
}

.active-color {
    border-color: var(--active-color);
    color: var(--active-color);
}

.rainbow-pen p {
    margin: auto;
}

@media (max-width: 700px)
{
    .title {
        font-size: 50px;
    }
    main {
        flex-direction: column-reverse;
    }
    .game-container {
        height: 300px;
        width: 300px;
    }
}

.game-container{
    border: 2px solid var(--primary-dark);
    display: flex;
    flex-direction: column;
    height: 60vh;
  width: 60vh;
  justify-content: center;
  margin: 20px 10px 20px 10px;

}

.box-size-container p {
    text-align: center;
    margin-bottom: 0;
}

.game-row{
    display: flex;
    flex:1;
}

.game-square {
    flex: 1;
}

.game-square.grid{
    border: 1px solid var(--primary-dark);
}